{#
 # Copyright 2015 Adrien Navratil
 #
 # This file is part of Canvas.
 #
 # Canvas is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # Canvas is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with Canvas.  If not, see <http://www.gnu.org/licenses/>.
 #}

{% extends 'base.twig' %}

{% block title %}Tree{% endblock %}

{% block content %}
    {% if type == "tree" %}
        {% if group.icon != "" %}
            <img class="icon" src="{{ root() ~ group.icon }}" />
        {% endif %}

        <div class="inline-block padding-25">
            {% if (group.name == "") and (group.desc == "") %}
                <h1>Home</h1>
                <h4>Canvas repository home</h4>
            {% else %}
                <h1>{{ group.name }}</h1>
                <h4>{{ group.desc }}</h4>
            {% endif %}
        </div>

        <div class="black">
            {% for f in files %}
                <div class="entry" onclick="window.location='{{ f.type == "group" ? ((group.id == "" ? "" : group.id ~ '.') ~ f.file) : group.id ~ '/' ~ f.file }}'">
                    {% if f.icon != "" %}
                        <img class="icon" src="{{ root() ~ f.icon }}" />
                    {% endif %}

                    <div class="entry-content {% if f.icon == "" %}no-icon{% endif %}">
                        <h3>{{ f.name }}</h3>
                        <p>{{ f.desc }}</p><br />
                    </div>

                    <span class="right size-60 margin-right-25">{% if f.type == "group" %}G{% else %}A{% endif %}</span>
                </div>
            {% endfor %}
        </div>
    {% elseif type == "version" %}
        {% if infos.icon != "" %}
            <img class="icon" src="{{ root() ~ infos.icon }}" />
        {% endif %}

        <div class="inline-block padding-25">
            <h1>{{ infos.name }}</h1>
            <h4>{{ infos.desc }}</h4>
        </div>

        <div class="files-group">
            {% for f in versions %}
                <div class="entry" onclick="window.location='../../package/{{ group ~ '/' ~ artifact ~ '/' ~ f.version ~ '/' }}'">
                    <h3>{{ f.version }}</h3>
                    <p>{{ f.desc }}</p><br />
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}